@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=cyrillic,cyrillic-ext');

html, body {
    margin: 0;
    padding: 0;
    background: #FDFDFD;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 11pt;
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.header {
    height: 64px;
    display: flex;
    background: deepskyblue;
    flex: none;
    align-items: center;
}

.header > .backer {
    width: 64px;
    height: 64px;
    background: dodgerblue;
    border: none;
    color: #fff;
    font-size: 32px;
    padding: 0;
    overflow: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: background 200ms;
}

.header > .backer:hover {
    background: royalblue;
}

.header > .caption {
    color: #fff;
    font-size: 24pt;
    margin: 0 24px;
    flex-grow: 2;
}

.header > .buttons {
    display: flex;
    flex-direction: row;
    flex: none;
    height: 100%;
}

.header > .buttons > button {
    background: transparent;
    border: none;
    padding: 0 16px;
    color: #fff;
    display: none;
    align-items: center;
    transition: background 200ms;
    height: 100%;
}

.header > .buttons > button:hover {
    background: forestgreen;
}

.header > .buttons > button#btnLogin:hover {
    background: mediumblue;
}

.header > .buttons > button > span {
    font-size: 32pt;
    margin-right: 6px;
}

.content {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden auto;
}

.card {
    width: 400px;
    height: 300px;
    border: 1px solid silver;
    box-shadow: 1px 1px 1px lightgray;
    background: #FFF;
    margin: 12px;
    display: flex;
    flex-direction: column;
    flex: none;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    text-align: left;
}

.card.done {
    background: rgb(249, 255, 243);
    border-color: darkseagreen;
}

.card > .author {
    font-weight: bold;
    margin: 12px 12px 0 12px;
    flex: none;
    width: 100%;
}

.card > .email {
    font-weight: bold;
    margin: 0 12px;
    flex: none;
    width: 100%;
}

.card > .text {
    flex-grow: 2;
    overflow: auto;
    height: 10px;
    margin: 12px;
}

.card > .tags {
    flex: none;
    margin: 0 12px 12px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.card > .tags > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    font-size: 10pt;
    margin-right: 12px;
    padding: 0 4px;
}

.card > .tags > .done {
    background: darkgreen;
}

.card > .tags > .edited {
    background: darkorange;
}

.card > .tags > div > .icon {
    margin-right: 4px;
}

.footer {
    height: 96px;
    display: flex;
    flex: none;
    align-items: center;
    padding: 0 24px;
}

.footer > .order > button {
    background: dodgerblue;
    border: none;
    color: #fff;
    height: 32px;
    line-height: 32px;
    margin: 0 6px;
}

.footer > .order > button.sel {
    background: cadetblue;
}

.footer > .order > button.asc:after {
    content: '▲';
    margin-left: 10px;
    font-size: 0.8em;
}

.footer > .order > button.desc:after {
    content: '▼';
    margin-left: 10px;
    font-size: 0.8em;
}

.footer > .pager {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer > .pager > button {
    background: dodgerblue;
    border: none;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 6px;
}

.footer > .pager > button:disabled {
    background: cadetblue;
}

form.editor {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form.editor > .field {
    width: 50%;
    margin: 12px;
}

form.editor > .field > input {
    width: 100%;
    font-size: 14pt;
    padding: 4px;
}

form.editor > .field > textarea {
    width: 100%;
    height: 200px;
    font-size: 14pt;
    padding: 4px;
}

form.auth {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form.auth > .field {
    width: 200px;
    margin: 12px;
}

form.auth > .field > input {
    width: 100%;
    font-size: 14pt;
    padding: 4px;
}